.popup__button {
  background-color: black;
  width: 100%;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 14px 0;
  border: none;
  transition: 0.4s ease opacity;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .popup__button {
    font-size: 18px;
  }
}

.popup__button:hover {
  opacity: 0.5;
}
