.popup__container {
  position: fixed;
  left: calc(50% - (282px / 2));
  background-color: white;
  z-index: 2;
  align-self: center;
  max-width: 282px;
  border-radius: 10px;
  padding: 24px 22px;
  color: black;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .popup__container {
    max-width: 430px;
    left: calc(50% - (430px / 2));
    padding: 33px 36px 36px;
  }
}
