.profile {
  display: flex;
  margin: 40px auto 36px;
}

@media screen and (max-width: 899px) {
  .profile {
    flex-wrap: wrap;
    max-width: 282px;
  }
}

.profile__avatar {
  margin: 0 auto 26px;
  border-radius: 50%;
  max-width: 122px;
}

@media screen and (min-width: 900px) {
  .profile__avatar {
    margin: 0;
    max-width: 120px;
  }
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 899px) {
  .profile__info {
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  .profile__info {
    margin: 15px 0 15px 30px;
    width: 100%;
  }
}

.profile__header {
  font-weight: 500;
  font-size: 27px;
  line-height: 1.22;
  margin: 0 10px 0 26px;
}

@media screen and (min-width: 900px) {
  .profile__header {
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
  }
}

.profile__edit {
  background-image: url(../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px;
  width: 7px;
  height: 7px;
  padding: 4px 4px;
  border: 1px solid white;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .profile__edit {
    margin-left: 19px;
    padding: 8px 8px;
  }
}

.profile__edit:hover {
  opacity: 0.5;
}

.profile__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 8px auto 33px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .profile__description {
    font-size: 18px;
    margin: 0;
  }
}

@media screen and (max-width: 899px) {
  .profile__description {
    text-align: center;
  }
}

.profile__add {
  background-image: url(../../images/add.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px;
  padding: 15px 132px;
  border: 2px solid white;
  background-position: center center;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .profile__add {
    width: 22px;
    height: 22px;
    background-size: 22px;
    padding: 12px 66px;
    align-self: center;
  }
}

.profile__add:hover {
  opacity: 0.5;
}
