.popup__close {
  background-image: url(../../../images/close.svg);
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: -36px;
  right: 0;
  transition: opacity 0.4s ease;
  background-color: initial;
  border: none;
}

@media screen and (min-width: 900px) {
  .popup__close {
    width: 32px;
    height: 32px;
    background-size: 32px;
    top: -40px;
    right: -40px;
  }
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.5;
}
