.elements {
  margin: 35px 20px;
}

@media screen and (min-width: 900px) {
  .elements {
    margin: 48px auto;
  }
}

.elements__gallery {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}

.elements__item {
  margin: 0 auto;
  font-size: 0;
  max-width: 282px;
  display: flex;
  flex-wrap: wrap;
}

.elements__photo {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  object-fit: cover;
}

.elements__text {
  margin: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  background-color: white;
  border-radius: 0 0 0 10px;
  padding: 26px 8px 25px 20px;
  box-sizing: border-box;
}

.elements__like {
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 22px;
  background-color: white;
  border-radius: 0 0 10px 0;
  width: 20%;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s ease background-image;
}

.elements__like_active {
  background-image: url(../../images/like-active.svg);
}

.elements__like:hover {
  background-image: url(../../images/like-hover.svg);
}
