.profile__avatar {
  margin: 0 auto 26px;
  border-radius: 50%;
  max-width: 122px;
  object-fit: cover;
  height: 100%;
  display: block;
}

@media screen and (min-width: 900px) {
  .profile__avatar {
    margin: 0 auto;
    max-width: 120px;
  }
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: .2;
}
