.elements__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 22px;
  background-color: white;
  border-radius: 0 0 10px 0;
  width: 20%;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s ease background-image;
}

.elements__like_active {
  background-image: url(../../../images/like-active.svg);
}

.elements__like:hover {
  background-image: url(../../../images/like-hover.svg);
}
