.popup__input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 0 0 8px;
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  margin: 0 0 30px;
}

.popup__input:last-of-type {
  margin: 0 0 48px;
}

.popup__input:focus {
  outline: none;
}
